# MOCK Get Data

## Setup

In [1]:
import pandas as pd
import numpy as np

In [17]:
input_dir = 'inputs/'

final_dataset_path = input_dir + 'final_dataset.csv'

In [12]:
# Create random data that mimics the final dataset
num_companies = 100
final_dataset = pd.DataFrame({
    # Random 3 letter ticker
    'Ticker': [chr(np.random.randint(65, 91)) + chr(np.random.randint(65, 91)) + chr(np.random.randint(65, 91)) for _ in range(num_companies)],
    # Name by order
    'Company Name': [f'Company {i}' for i in range(num_companies)],
    # Random sector
    'Sector': np.random.choice(['Energy', 'Materials', 'Industrials', 'Consumer Discretionary', 'Consumer Staples', 'Health Care', 'Financials', 'Information Technology', 'Communication Services', 'Utilities'], num_companies),
    'ESG Score': np.random.randint(0, 101, num_companies),
    'ESG Rank': np.random.randint(0, 101, num_companies),
    'MCSI ESG Rating': np.random.choice(['AAA', 'AA', 'A', 'BBB', 'BB', 'B', 'CCC', 'CC', 'C', 'D'], num_companies),
    'BESG Score': np.random.randint(0, 101, num_companies),
    'ESG Score SYN': np.random.randint(0, 101, num_companies),
    'YFin E': np.random.randint(0, 101, num_companies),
    'YFin S': np.random.randint(0, 101, num_companies),
    'YFin G': np.random.randint(0, 101, num_companies),
    'Market Cap': np.random.randint(100, 100000, num_companies),
    'EBITDA': np.random.randint(100, 100000, num_companies),
    'PE': np.random.randint(100, 100000, num_companies),
    'EV': np.random.randint(100, 100000, num_companies),
    # 'Date': [f'{np.random.randint(1, 13)}/1/{np.random.randint(2000, 2021)}' for _ in range(num_companies)],
})

final_dataset['Ticker'].value_counts()

WQS    1
GVD    1
BMP    1
GID    1
LDZ    1
      ..
SUD    1
SND    1
FGR    1
XPM    1
XDX    1
Name: Ticker, Length: 100, dtype: int64

In [13]:
# Create fake list of dates, returns, predicted returns
monthly_returns = pd.DataFrame(columns=['Ticker', 'Date', 'Return'])

dates = pd.date_range(start='2013-01-01', end='2020-01-01', freq='MS')

for ticker in final_dataset['Ticker'].unique():
  # Generate a set of monthly returns for each CIK
  curr_monthly_returns = pd.DataFrame({
      'Ticker': [ticker for _ in range(len(dates))],
      'Date': dates,
      'Return': np.random.normal(-1, 1, len(dates)),})
  
  monthly_returns = pd.concat([monthly_returns, curr_monthly_returns])

# Add predicted returns for each CIK
monthly_returns['Model 1'] = \
    monthly_returns['Return'] + \
    np.random.normal(0, 0.2, len(monthly_returns)) - 0.1
monthly_returns['Model 2'] = \
    monthly_returns['Return'] + \
    np.random.uniform(0, 0.2, len(monthly_returns)) - 0.1
monthly_returns['Model 3'] = \
    monthly_returns['Return'] + \
    np.random.standard_gamma(0.2, len(monthly_returns)) - 0.1

In [18]:
# Save data
final_dataset.merge(monthly_returns, on='Ticker', how='left', validate='1:m', indicator=True).drop(columns=['_merge']).to_csv(final_dataset_path, index=False)

# Legacy

## Setup

In [1]:
import pandas as pd
import numpy as np

In [2]:
input_dir = 'inputs/'

company_info_path = input_dir + 'company_info.csv'
monthly_returns_path = input_dir + 'monthly_returns.csv'
company_themes_path = input_dir + 'company_themes.csv'

## Create Mock Company Information

In [3]:
# Randomly generate 25 unique CIKs and put them in a dataframe
company_info = pd.DataFrame(np.random.randint(1000000, 9999999, 25), columns=['CIK'])

# Name companies from A to Z
company_info['company_name'] = [f'Company {chr(i)}' for i in range(65, 65 + 25)]

# Randomly assign eight industry sectors to each CIK
company_info['sector'] = np.random.choice(
    ['Energy', 'Materials', 'Industrials', 'Consumer Discretionary', 'Consumer Staples', 'Health Care', 'Financials', 'Information Technology', 'Communication Services', 'Utilities'],
    25)

# Randomly assign a market cap from 100M to 100B for each CIK
company_info['market_cap'] = np.random.randint(100, 100000, 25)

# Randomly generate three ESG scores of varying ranges/distriubtions for each
company_info['esg1'] = np.random.normal(50, 10, 25)
company_info['esg2'] = np.random.uniform(0, 100, 25)
company_info['esg3'] = np.random.standard_gamma(1, 25)

In [4]:
company_info

,CIK,company_name,sector,market_cap,esg1,esg2,esg3
0,4187789,Company A,Consumer Staples,40165,57.888697,28.306400,0.202124
1,7127227,Company B,Consumer Discretionary,85772,58.632713,46.158746,2.358827
2,5036038,Company C,Energy,51366,51.008761,75.470789,0.425673
3,7425165,Company D,Utilities,8798,60.846907,31.174978,0.035543
4,3717394,Company E,Consumer Staples,98942,48.047198,9.092010,1.092485
5,7587850,Company F,Materials,9779,38.825107,13.707251,1.006656
6,3543854,Company G,Consumer Staples,36151,30.411941,57.163886,2.635428
7,1900507,Company H,Utilities,70457,44.328907,42.137240,3.261042
8,7873115,Company I,Financials,80819,51.890627,27.759688,0.272015
9,5436001,Company J,Utilities,7058,56.253533,4.755863,1.447819
10,3190756,Company K,Information Technology,89091,41.023867,0.458135,1.399961
11,6222315,Company L,Information Technology,28273,39.166045,92.049415,0.304858
12,9367222,Company M,Information Technology,17367,41.999568,55.143428,2.906826
13,4882056,Company N,Materials,10845,44.133335,72.185178,2.039270
14,8772425,Company O,Industrials,33643,57.090695,72.176386,2.589727
15,5621439,Company P,Information Technology,87415,57.531515,42.892049,1.379654
16,5010392,Company Q,Energy,51803,42.099911,38.418279,0.998851
17,3343692,Company R,Information Technology,97111,29.107310,59.874179,1.018754
18,4473613,Company S,Consumer Staples,37183,54.815958,34.504906,0.833530
19,2888344,Company T,Communication Services,55150,61.092005,12.861777,0.237971
20,4280690,Company U,Information Technology,2028,65.386497,32.757837,0.956020
21,7786799,Company V,Consumer Discretionary,7426,62.669046,2.065211,0.217135
22,6618393,Company W,Energy,59693,46.327393,64.948823,0.154813
23,5197768,Company X,Information Technology,95036,55.207634,18.092806,0.000298
24,1685429,Company Y,Materials,42579,48.410914,31.135370,0.505666

In [5]:
# Save mock data to a csv file
company_info.to_csv(company_info_path, index=False)

## Create Mock Monthly Returns Data

In [6]:
# For each month from 2013-01 to 2020-01, randomly generate a return for each CIK
monthly_returns = pd.DataFrame(columns=['CIK', 'date', 'ret'])

dates = pd.date_range(start='2013-01-01', end='2020-01-01', freq='MS')

for cik in company_info['CIK']:
  # Generate a set of monthly returns for each CIK
  curr_monthly_returns = pd.DataFrame({
      'CIK': [cik for _ in range(len(dates))],
      'date': dates,
      'ret': np.random.normal(0, 1, len(dates))})
  
  # Append the current CIK's monthly returns to the dataframe
  monthly_returns = pd.concat([monthly_returns, curr_monthly_returns])

# Rescale the returns to be between -1 and 1
monthly_returns['ret'] = monthly_returns['ret'] / monthly_returns['ret'].abs().max()

# Add predicted returns for each CIK
monthly_returns['pred_ret1'] = monthly_returns['ret'] + np.random.normal(0, 0.2, len(monthly_returns)) - 0.1
monthly_returns['pred_ret2'] = monthly_returns['ret'] + np.random.normal(0, 0.2, len(monthly_returns)) - 0.1
monthly_returns['pred_ret3'] = monthly_returns['ret'] + np.random.normal(0, 0.2, len(monthly_returns)) - 0.1

In [7]:
monthly_returns

        CIK       date       ret  pred_ret1  pred_ret2  pred_ret3
0   4187789 2013-01-01  0.277486  -0.040987   0.142346  -0.047992
1   4187789 2013-02-01 -0.343672  -0.799791  -0.337405  -0.761505
2   4187789 2013-03-01 -0.440411  -0.321407  -0.437138  -0.320839
3   4187789 2013-04-01 -0.072381  -0.363177  -0.498853   0.355267
4   4187789 2013-05-01 -0.088168  -0.412972  -0.405906  -0.412140
..      ...        ...       ...        ...        ...        ...
80  1685429 2019-09-01 -0.175768  -0.271230  -0.583803  -0.236714
81  1685429 2019-10-01  0.239960   0.039027   0.128079   0.218424
82  1685429 2019-11-01 -0.240255  -0.108740  -0.513342  -0.464611
83  1685429 2019-12-01  0.101878   0.060383  -0.125526  -0.276662
84  1685429 2020-01-01 -0.178187  -0.423621  -0.142491  -0.549509

[2125 rows x 6 columns]

In [8]:
monthly_returns.to_csv(monthly_returns_path, index=False)

## Create Mock Themes

In [9]:
# Randomly generate pairs of CIKs and investing themes
company_themes = pd.DataFrame(columns=['CIK', 'theme'])

themes = ['environment', 'social', 'governance', 'energy', 'ethics']

for cik in company_info['CIK']:
  # Select a random number of themes for each CIK
  num_themes = np.random.randint(0, 10)

  # Generate a set of themes for each CIK
  curr_company_themes = pd.DataFrame({
      'CIK': [cik for _ in range(num_themes)],
      'theme': np.random.choice(themes, num_themes)})
  
  # Append the current CIK's themes to the dataframe
  company_themes = pd.concat([company_themes, curr_company_themes])

In [10]:
company_themes

        CIK        theme
0   4187789  environment
1   4187789       energy
2   4187789       social
3   4187789   governance
0   7127227       ethics
..      ...          ...
8   5197768  environment
0   1685429       social
1   1685429   governance
2   1685429       energy
3   1685429   governance

[99 rows x 2 columns]

In [11]:
company_themes.to_csv(company_themes_path, index=False)